!!!
%html
  %div{class: 'wrapper'}

    %div{class: 'chat-side'}

      %div{class: 'side-header'}
        %div{class: 'side-header__box'}
          %p{class: 'side-header__box__user-name'} 
            ログインユーザー名
          %ul{class: 'side-header__box__menu'}
            %li{class: 'side-header__box__menu__new-group'}
              = link_to "", class: 
                = fa_icon 'star'
            %li{class: 'side-header__box__menu__edit-user'}
              %a{hlef: ""}
                = fa_icon 'cog'

      %div{class: 'groups'}
        %a{hlef: ""}
          %div{class: 'group'}
            %p{class: 'group__group-name'}
              りんご
            %p{class: 'group__latest-message'}
              バナナ
 
    %div{class: 'chat-main'}

      %div{class: 'main-header'}
        %div{class: 'main-header__left-box'}
          %h2{class: 'main-header__left-box__current-group'}
            メロン(グループ名)
          %ul{class: 'main-header__left-box__member-list'}
            Member:
            %li{class: 'main-header__left-box__member-list__member'}
              メンバー名
        %a{href: ""}
          %div{class: 'main-header__edit-btn'}
            Edit
      %div{class: 'messages'}
        %div{class: 'message'}
          %div{class: 'message__upper-info'}
            %p{class: 'message__upper-info__tolker'}
              スタローン
            %p{class: 'message__upper-info__date'}
              2019/07/16(Tue) 06:10:50
          %p{class: 'message__text'}
            俺たちは消耗品だ
        %div{class: 'message'}
          %div{class: 'message__upper-info'}
            %p{class: 'message__upper-info__tolker'}
              アーノルド
            %p{class: 'message__upper-info__date'}
              2019/07/16(Tue) 06:10:50
          %p{class: 'message__text'}
            ありゃ嘘だ
        %div{class: 'message'}
          %div{class: 'message__upper-info'}
            %p{class: 'message__upper-info__tolker'}
              ジャッキー
            %p{class: 'message__upper-info__date'}
              2019/07/16(Tue) 06:10:50
          %p{class: 'message__text'}
            カンフー

      %div{class: 'form'}
        %form{class: 'new_message'}
          %div{class: 'input-box'}
            %input{placeholder: 'type a message', class: 'input-box__text', type: 'text'}
            %label{class: 'input-box__image', for: 'message_image'}
              = fa_icon 'image'
              %input{type: 'file', class: 'input-box__file', id: 'message_image'}
          %input{type: 'submit', class: 'submit-btn', value: 'send'}

